<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681168009501-3i6h6g0rul4v5if1cjhdseb52sb20l1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681168009501-3i6h6g0rul4v5if1cjhdseb52sb20l1h</string>
	<key>API_KEY</key>
	<string>AIzaSyCM5S0gx1vldYjYdVxDR7_mW9-am6BMmG0</string>
	<key>GCM_SENDER_ID</key>
	<string>681168009501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Koricode.OGBody</string>
	<key>PROJECT_ID</key>
	<string>fitness-app-4dc7b</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-app-4dc7b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681168009501:ios:9fcc36d0912258c00d89f4</string>
</dict>
</plist>